<!DOCTYPE html>
<html>
	<head>
		<title>Simple Flask Project</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
	</head>
	<body>
		<div class="container">
			<form action='/process' method='post'>
				<div class="row">
					Name: <input type="text" name="name" id="name">
				</div>
				<div class="row">
					Location: <input type="text" name="name" id="name">
				</div>
				<div class="row">
					Favorite Language: <input type="text" name="name" id="name">
				</div>
				<div class="row">
					Comment (Optional): <input type="text" name="name" id="name">
				</div>		
				<input type="submit" value="form process">
			</form>
		</div>
	</body>
</html>
